html,
body {
  background: url('./img/marvelbg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.HeroesTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  row-gap: 64px;
  column-gap: 8px;
  grid-auto-rows: minmax(100px, auto);
  margin: 32px;
}

header {
  height: 150px;
}

header img {
  width: 200px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #028A0F;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin: 12px;
}

